// Rename this file to 'appsettings.json' and replace the access token with your own.

{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "MercadoPago": {
    "AccessToken": "<YOUR_ACCESS_TOKEN>"
  }
}